/*
#333333 - background header
#f89521 - orange
#ee3a68 - red
*/

body {
	font-family: 'Roboto', sans-serif;
	background-color: #333333;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 750px;
}

.main {
	max-width: 800px;
	margin: auto;
	padding: 10px;
}

.box {
	padding: 30px 30px;
	background: #6d6d6d;
	border-radius: 3px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	display: block;
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin: 10px 25px 25px 25px;
	color: #FFFFFF;
}

h1 {
	margin: 0;
	font-weight: normal;
}

ul {
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: #f89521;
}

a:hover {
	text-decoration: none;
	color: #ee3a68;
}
